%% -*- erlang -*-

{deps, [
    {lager, "", {git, "git://github.com/basho/lager.git", "master"}},
    {deepprops, "", {git, "git://github.com/keynslug/deepprops.git", "master"}},
    {supstance, "", {git, "git://github.com/keynslug/supstance.git", "master"}}
]}.

{erl_opts, [
    debug_info,
    warn_missing_spec,
    bin_opt_info,
    {parse_transform, lager_transform}
]}.
